/*CSS DEFAULT RESET*/
*{
    padding: 0; 
    margin:0;
    box-sizing:border-box;
 }
 :root{
     --primary: #005555;
     --secondary : #f7f5f5e1;
     --grey:#9e9e9e;
     --deepgrey:#757575;
 }
 body{
    font-family:'Roboto';  
}
#guitarman{
    background-image:linear-gradient(45deg,#0055559f,#00555515) ,url(./images/Rectangle\ 8.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 329px;
}
.access{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 20px;
}
  #arrdwn{
    padding:0px 20px;
    transform: rotate(-90deg);
  }
  .clasplay{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: -10px;
  }
  #bi-play{
    width: 70px;
    padding-right: 20px;
    margin-top: -15px;
  }
  h1{
    padding:0px 25px;
    color: white;
    letter-spacing: 2px;
    font-size:25px;
  }
  .collection{
    padding:20px 30px;
  }
  #lovsongs{
    color: #000000;
    font-size: 18px;
    font-family: 'Roboto';
    padding-bottom: 3px;
  }
  #songs{
    color:#bdbdbd;
  }
  #coverart{
    padding-bottom: 5px;
    color: #757575;
  }
  #picpplay{
    background: url(./images/Ellipse\ 1.png);
    height:100px;
    background-repeat: no-repeat;
    padding: 27px;
  }
  #picpplay1{
    background: url(./images/Ellipse\ 2.png);
    height:100px;
    background-repeat: no-repeat;
    padding: 27px;
  }
  #picpplay2{
    background: url(./images/Ellipse\ 3.png);
    height:100px;
    background-repeat: no-repeat;
    padding: 27px;
  }
  #picpplay3{
    background: url(./images/Ellipse\ 4.png);
    height:100px;
    background-repeat: no-repeat;
    padding: 27px;
  }
  #h3{
    color: #757575c9; 
    font-weight: 100;
  }
  #picplay{
    height: 40px;
  }
  #pictext{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:72%;
  }
  #playsec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 25px;
  }
  #span{
    font-size:40px; 
  }
  #icon{
     background-color: white;
     padding-left:3px ;
  }
 a{
    text-decoration: none;
    color: white;
    font-size: small;
 }
nav{
    border-radius:18px;
    margin:0;
    padding:8px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    position: sticky;
    bottom: 0;
    background-color: #005555;
}
@media only screen and (min-width:450px) {
    body{
    margin:auto;
    width:50%;
    }
}