/*CSS DEFAULT RESET*/
*{
    padding: 0; 
    margin:0;
    box-sizing:border-box;
 }
 :root{
     --primary: #005555;
     --secondary : #f7f5f5e1;
 }
 body{
   
    background-color: var(--primary);
    font-family:'Roboto'; 
    color: var(--secondary);
}
nav{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#wifi{
    padding:0px 10px;
}
aside{
    padding: 0px 40px;
}
.Ayrastarr{
    text-align: center;
    padding: 10px;
}