*{
    padding: 0; 
    margin:0;
    box-sizing:border-box;
 }
 :root{
     --primary: #005555;
     --secondary : #f7f5f5e1;
     --anat:#757575;
 }
 body{
    text-align: center;
    background-color: var(--secondary);
    font-family: 'Roboto';
 }
 #headphone{
    width: 20rem;
    margin-top: 60px;
 }
 a{
    text-decoration: none;
    color: var(--secondary);
}
p{
    color: var(--anat)
}
button{
    margin-top:3rem;
    font-family:system-ui,'Segoe UI';
    font-size: 1.2rem;
    border-radius: 1rem;
    background-color: var(--primary);
    padding:.3rem 5rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    color:var(--secondary);
}
button:hover{
    color: rgb(110, 141, 47);
    transform:scaleX(0.9) scaleY(0.9);  
}